<?xml version="1.0" encoding="UTF-8"?>
<beans:beans    xmlns="http://www.springframework.org/schema/security"
                xmlns:beans="http://www.springframework.org/schema/beans" 
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xsi:schemaLocation="http://www.springframework.org/schema/beans
					                http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
					                http://www.springframework.org/schema/security
					                http://www.springframework.org/schema/security/spring-security-3.2.xsd">
    <http use-expressions="true" access-denied-page="/auth/denied.html">          
        <intercept-url pattern="/" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />        
        <form-login login-page="/auth/login.html" 
        			default-target-url="/"
                    authentication-failure-url="/auth/login.html" />                                 
        <logout logout-success-url="/auth/login.html" 
        		logout-url="/j_spring_security_logout" />        
        <session-management invalid-session-url = "/" > 
            <concurrency-control max-sessions = "1" /> 
        </session-management>
        <http-basic/>
    </http>    
   <authentication-manager alias="authenticationManager">
        <authentication-provider ref="customAuthenticationProvider" />       
    </authentication-manager>	
</beans:beans>